<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie X - Giao dịch mua phim thành công</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 20px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#D14A2D" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        Giao dịch mua phim thành công!
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#333131" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 24px;">
                                    <b>Xin chào, ${full_name}</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    Bạn đã mua bộ phim <b>${movie_name}</b> với giá <b>${price}</b> VND thành công. Bạn có thể xem phim bằng cách nhấp vào nút dưới đây.
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a href="${movie_watch_url}" style="display: inline-block; padding: 10px 20px; background-color: #D14A2D; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;">Xem Phim Ngay</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#D14A2D" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="30%">
                                    &reg; Movie X, 2024<br/>
                                </td>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" align="right" width="70%">
                                    Design and Developed by Vo Truong Lam
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
