<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>websiteName</param-name>
        <param-value>MOVIE X</param-value>
    </context-param>
    <context-param>
        <param-name>mvcPath</param-name>
        <param-value>/movie-x</param-value>
    </context-param>

    <!-- Error page for 404 - Not Found -->
    <error-page>
        <error-code>404</error-code>
        <location>/views/error-pages/not-found.jsp</location>
    </error-page>

    <!-- Error page for 500 - Internal Server Error -->
    <error-page>
        <error-code>500</error-code>
        <location>/views/error-pages/internal-error.jsp</location>
    </error-page>
</web-app>